Repository RitehWebTeam/infobip-rimatch, pull requests merged in 2024-04, with the labels that each got.

#106 Adding chat functionality
  .github/workflows/deploy-frontend.yml
  backend/pom.xml
  backend/src/main/java/com/rimatch/rimatchbackend/configuration/StorageConfig.java
  backend/src/main/java/com/rimatch/rimatchbackend/configuration/WebSocketConfig.java
  backend/src/main/java/com/rimatch/rimatchbackend/controller/AuthController.java
  backend/src/main/java/com/rimatch/rimatchbackend/controller/MatchController.java
  backend/src/main/java/com/rimatch/rimatchbackend/controller/MessageController.java
  backend/src/main/java/com/rimatch/rimatchbackend/controller/UserController.java
  backend/src/main/java/com/rimatch/rimatchbackend/controller/WebSocketController.java
  backend/src/main/java/com/rimatch/rimatchbackend/dto/DisplayUserDto.java
  backend/src/main/java/com/rimatch/rimatchbackend/dto/MessageDTO.java
  backend/src/main/java/com/rimatch/rimatchbackend/dto/SetupDto.java
  backend/src/main/java/com/rimatch/rimatchbackend/lib/InfobipClient.java
  backend/src/main/java/com/rimatch/rimatchbackend/model/Message.java
  backend/src/main/java/com/rimatch/rimatchbackend/model/User.java
  backend/src/main/java/com/rimatch/rimatchbackend/repository/MessageRepository.java
  backend/src/main/java/com/rimatch/rimatchbackend/service/MatchService.java
  backend/src/main/java/com/rimatch/rimatchbackend/service/S3Service.java
  backend/src/main/java/com/rimatch/rimatchbackend/service/UserService.java
  backend/src/main/java/com/rimatch/rimatchbackend/util/EmailCreator.java
  backend/src/main/resources/application.properties
  frontend/.env.development
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/auth.ts
  frontend/src/api/messages.ts
  frontend/src/api/users.ts
  frontend/src/components/ChatListComponent.tsx
  frontend/src/components/ChatMessageRecived.tsx
  frontend/src/components/ChatMessageSent.tsx
  frontend/src/components/GenericCard.tsx
  frontend/src/components/MatchCard.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/ProfileCard.tsx
  frontend/src/components/UserAvatar.tsx
  frontend/src/components/chat/ChatHistory.tsx
  frontend/src/components/chat/ChatInput.tsx
  frontend/src/components/chat/ChatMessage.tsx
  frontend/src/components/forms/Dropzone.tsx
  frontend/src/hooks/useLogout.ts
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/types/Message.d.ts
  frontend/src/types/Page.d.ts
  frontend/src/types/User.d.ts
  frontend/src/views/ChatPage.tsx
  frontend/src/views/ListOfMatchesForChatPage.tsx
  frontend/src/views/Matches/ProfileDetailed.tsx
  frontend/src/views/chat/ChatLayout.tsx
  frontend/src/views/settings/SettingsLayout.tsx
  frontend/src/views/settings/SettingsList.tsx
  frontend/src/views/settings/SettingsPreferences.tsx
  frontend/src/views/settings/SettingsProfile.tsx
  frontend/src/views/settings/SettingsProfilePicture.tsx
  frontend/src/views/settings/SettingsTheme.tsx
  frontend/src/vite-env.d.ts
Labels: for: API, for: Web App, type: feature

#105 Implemented user blocking
  backend/src/main/java/com/rimatch/rimatchbackend/controller/UserController.java
  backend/src/main/java/com/rimatch/rimatchbackend/model/User.java
  backend/src/main/java/com/rimatch/rimatchbackend/service/UserService.java
Labels: for: API

#109 Connecting image gallery with backend
  .github/workflows/deploy-backend.yml
  backend/pom.xml
  backend/src/main/java/com/rimatch/rimatchbackend/configuration/StorageConfig.java
  backend/src/main/java/com/rimatch/rimatchbackend/controller/UserController.java
  backend/src/main/java/com/rimatch/rimatchbackend/service/S3Service.java
  backend/src/main/resources/application.properties
  frontend/src/api/matches.ts
  frontend/src/api/messages.ts
  frontend/src/api/users.ts
  frontend/src/components/GenericCard.tsx
  frontend/src/components/MatchCard.tsx
  frontend/src/components/forms/Dropzone.tsx
  frontend/src/components/forms/GalleryDropzone.tsx
  frontend/src/images/image1.jpg
  frontend/src/images/image2.jpg
  frontend/src/images/image3.jpg
  frontend/src/images/image4.jpg
  frontend/src/images/image5.jpg
  frontend/src/images/image6.jpg
  frontend/src/types/User.d.ts
  frontend/src/views/ListOfMatchesForChatPage.tsx
  frontend/src/views/Matches/MatchesPage.tsx
  frontend/src/views/PotentialUsers.tsx
  frontend/src/views/SetupPreferences/SetupPreferencesPage.tsx
  frontend/src/views/settings/SettingsGallery.tsx
  frontend/src/views/settings/SettingsProfilePicture.tsx
Labels: for: API, for: Web App, type: feature

#110 User blocking UI and connecting to backend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/users.ts
  frontend/src/components/ProfileCard.tsx
  frontend/src/components/UserActionsDropdown.tsx
  frontend/src/views/ChatPage.tsx
Labels: for: Web App, type: feature
