Repository RitehWebTeam/infobip-rimatch, pull requests merged in 2024-05, with the labels that each got.

#119 Image popup display
  frontend/.husky/pre-commit
  frontend/public/Default_pfp.svg
  frontend/src/components/ImageModal.tsx
  frontend/src/components/ProfileCard.tsx
  mobileV2/android/gradlew
Labels: for: Web App, type: feature

#118 Mobile My matches page
  mobileV2/.husky/pre-commit
  mobileV2/package-lock.json
  mobileV2/package.json
  mobileV2/src/api/matches.ts
  mobileV2/src/api/users.ts
  mobileV2/src/app/(Protected)/(tabs)/Matches.tsx
  mobileV2/src/app/(Protected)/(tabs)/index.tsx
  mobileV2/src/app/(Protected)/_layout.tsx
  mobileV2/src/components/MatchedUserCard.tsx
  mobileV2/src/types/User.d.ts
  mobileV2/tsconfig.json
Labels: for: Mobile App, type: feature

#120 Chat Listing Page
  mobileV2/.env.development
  mobileV2/android/gradlew
  mobileV2/package-lock.json
  mobileV2/package.json
  mobileV2/src/api/messages.ts
  mobileV2/src/app/(Protected)/(tabs)/ChatPage.tsx
  mobileV2/src/app/(Protected)/_layout.tsx
  mobileV2/src/app/_layout.tsx
  mobileV2/src/components/chat/ChatListUser.tsx
  mobileV2/src/types/Message.d.ts
  mobileV2/src/types/Page.d.ts
Labels: for: Mobile App, type: feature

#122 Added fetching matched user by id
  backend/src/main/java/com/rimatch/rimatchbackend/controller/MatchController.java
  backend/src/main/java/com/rimatch/rimatchbackend/service/MatchService.java
  frontend/src/api/matches.ts
  frontend/src/api/messages.ts
  frontend/src/components/ChatListComponent.tsx
  frontend/src/components/ProfileCard.tsx
  frontend/src/main.tsx
  frontend/src/views/ChatPage.tsx
  frontend/src/views/Matches/MatchesPage.tsx
  frontend/src/views/Matches/ProfileDetailed.tsx
  mobileV2/src/api/matches.ts
Labels: for: API, type: feature

#123 Individual use chat page
  mobileV2/android/app/src/main/AndroidManifest.xml
  mobileV2/package-lock.json
  mobileV2/package.json
  mobileV2/src/api/matches.ts
  mobileV2/src/api/messages.ts
  mobileV2/src/app/(Protected)/(tabs)/Settings.tsx
  mobileV2/src/app/(Protected)/(tabs)/_layout.tsx
  mobileV2/src/app/(Protected)/(tabs)/chat/[userId].tsx
  mobileV2/src/app/(Protected)/(tabs)/chat/_layout.tsx
  mobileV2/src/app/(Protected)/(tabs)/chat/index.tsx
  mobileV2/src/app/_layout.tsx
  mobileV2/src/components/chat/ChatListUser.tsx
  mobileV2/src/hooks/useLogout.ts
Labels: for: Mobile App, type: feature

#129 61 preferences form
  mobileV2/.idea/misc.xml
  mobileV2/babel.config.js
  mobileV2/nativewind-env.d.ts
  mobileV2/package-lock.json
  mobileV2/package.json
  mobileV2/src/app/(Forms)/(ZSetupPreferences)/(steps)/Confirmation.tsx
  mobileV2/src/app/(Forms)/(ZSetupPreferences)/(steps)/Step1Preference.tsx
  mobileV2/src/app/(Forms)/(ZSetupPreferences)/(steps)/Step2Preference.tsx
  mobileV2/src/app/(Forms)/(ZSetupPreferences)/(steps)/Step3Preference.tsx
  mobileV2/src/app/(Forms)/(ZSetupPreferences)/(steps)/Step4Preference.tsx
  mobileV2/src/app/(Forms)/(ZSetupPreferences)/_layout.tsx
  mobileV2/src/app/(Forms)/(ZSetupPreferences)/index.tsx
  mobileV2/src/app/(Forms)/(ZSetupPreferences)/store.tsx
  mobileV2/src/app/(Forms)/LoginForm.tsx
  mobileV2/src/app/(Forms)/RegisterForm/index.tsx
  mobileV2/src/app/(Protected)/(SetupPreferences)/store.tsx
  mobileV2/src/app/(Protected)/(tabs)/Matches.tsx
  mobileV2/src/app/(Protected)/(tabs)/Settings.tsx
  mobileV2/src/app/(Protected)/(tabs)/Settings/(screens)/Gallery.tsx
  mobileV2/src/app/(Protected)/(tabs)/Settings/(screens)/Preferences.tsx
  mobileV2/src/app/(Protected)/(tabs)/Settings/(screens)/ProfilePicture.tsx
  mobileV2/src/app/(Protected)/(tabs)/Settings/(screens)/Theme.tsx
  mobileV2/src/app/(Protected)/(tabs)/Settings/(screens)/UserSettings.tsx
  mobileV2/src/app/(Protected)/(tabs)/Settings/_layout.tsx
  mobileV2/src/app/(Protected)/(tabs)/Settings/index.tsx
  mobileV2/src/app/(Protected)/(tabs)/_layout.tsx
  mobileV2/src/app/(Protected)/(tabs)/chat/[userId].tsx
  mobileV2/src/app/(Protected)/(tabs)/chat/_layout.tsx
  mobileV2/src/app/(Protected)/(tabs)/chat/index.tsx
  mobileV2/src/app/(Protected)/(tabs)/index.tsx
  mobileV2/src/app/(Protected)/_layout.tsx
  mobileV2/src/app/_layout.tsx
  mobileV2/src/components/GenderPicker.tsx
  mobileV2/src/components/MatchCard.tsx
  mobileV2/src/components/MatchedUser.tsx
  mobileV2/src/components/ProfileCard.tsx
  mobileV2/src/components/SaveCancelButtons.tsx
  mobileV2/src/components/SimpleField.tsx
  mobileV2/src/components/TagInput.tsx
  mobileV2/src/context/CurrentUserProvider.tsx
  mobileV2/src/context/ThemeProvider.tsx
  mobileV2/tailwind.config.js
Labels: for: Mobile App, type: feature
